<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.project.mapper.BookingMapper">


	<insert id = "insertbooking" parameterType="kr.co.project.domain.BookingVO">
	INSERT INTO `sns_prj`.`booking` (`board_id`, `booking_startdate`, `booking_enddate`, `people`, `user_id`,`option1`,`option2`,`option3`,`option4`) 
	VALUES (#{board_id}, #{booking_startdate}, #{booking_enddate}, #{people}, #{user_id},#{option1},#{option2},#{option3},#{option4});
	</insert>
	
	<select id="bookingList" parameterType="hashmap" resultType="kr.co.project.domain.CommonBoardVO">
		select *
		from sns_prj.`common_board`
		where board_id in(
			select board_id from sns_prj.`booking` where user_id = #{user_id}
		)
		order by reg_date desc
		limit #{pageStart} , #{perPageNum}
	</select>
</mapper>