<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.project.FavoriteMapper">

	<insert id="userinsertfavorite" parameterType="kr.co.project.domain.UserHasFavoriteVO">
	insert 
	into `sns_prj`.`user_has_favorite` 
	values (#{user_id},#{favorite_id});
	</insert>
	
	<delete id="userdeletefavorite" parameterType="kr.co.project.domain.UserHasFavoriteVO">
	delete
	from `sns_prj`.`user_has_favorite`
	where user_id = #{user_id}
	and favorite_id = #{favorite_id}
	</delete>
	
	<select id = "selectfavo_user" parameterType="String" resultType="int">
	select 
		favorite_id 
	from 
		sns_prj.user_has_favorite 
	where 
		user_id = #{user_id}
	order by favorite_id asc
	</select>
	
	<delete id="deletefavo_userid" parameterType="string">
	<![CDATA[
		delete
		from sns_prj.`user_has_favorite`
		where user_id = #{user_id}
		]]>	
	</delete>
</mapper>
